<a href="https://colab.research.google.com/github/DrKAI/Python-Basic-Restart/blob/master/02_2_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열이란?

문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다.

---

"Life is too short, You need Python"

"a"

"123"

---

123은 숫자인데 왜 문자열이냐? 의문이 들 것이다. 따옴표에 둘러싸여 있으면 모두 문자열이라 보면 된다.

# 문자열은 어떻게 만들고 사용할까?

문자열 만드는 방법은 큰 따옴표 외에도 3가지가 더 있다. 총 4가지이다.

### 1. 큰 따옴표로 양 쪽 둘러싸기

In [0]:
"Hell Chosun"

'Hell Chosun'

### 2. 작은 따옴표로 양 쪽 둘러싸기

In [0]:
'C and Java is Suck'

'C and Java is Suck'

### 3. 큰 따옴표 3개를 연속으로 써서 양 쪽 둘러싸기

In [0]:
"""Life is short"""

### 4. 작은 따옴표 3개를 연속으로 써서 양 쪽 둘러싸기

In [0]:
'''You do not need Python'''

## 문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

단순함이 모토인 파이썬에서 왜 문자열 생성 방법을 4가지나 두었을까? 바로 이 때문이다.

### 1. 문자열에 작은 따옴표(') 포함시키기

Python's favorite food is perl

위 문자열을 food라는 변수에 저장하고 싶다 가정하자. 여기에는 작은 따옴표가 포함되어 있다.

이럴 때 큰 따옴표로 둘러싸면 작은 따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.

In [0]:
food = "Python's favorite food is perl"

print(food)

Python's favorite food is perl

In [0]:
food = 'Python's favorite food is perl'

print(food)

SyntaxError: ignored

### 2. 문자열에 큰 따옴표(") 포함시키기

"Python is not very easy." he says.

반대로 큰 따옴표가 포함된 문자열은 작은 따옴표로 둘러싸면 된다.

In [0]:
say = '"Python is not very easy." he says.'

print(say)

"Python is not very easy." he says.

In [0]:
say = ""Python is not very easy." he says."

print(say)

SyntaxError: ignored

### 3. 백슬래시(\\)를 이용해서 작은 따옴표와 큰 따옴표를 문자열에 포함시키기

백슬래시(\\)를 작은 따옴표나 큰 따옴표 앞에 삽입하면 백슬래시 뒤의 작은 따옴표, 큰 따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 문자 ', " 그 자체를 뜻하게 된다.

In [0]:
food = 'Python\'s favorite food is perl'
say = "\"Python is not very easy.\" he says."

print(food)
print(say)

Python's favorite food is perl
"Python is not very easy." he says.

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

문자열이 항상 한 줄만 있는 것은 아니다.

---

Life is too short

You need Python

---

이런 경우 어떻게 처리해야 하나?

### 1. 줄을 바꾸기 위한 이스케이프 코드(\n) 삽입하기

읽기 불편하고 줄이 길어지는 단점이 있는 방식이다.

In [0]:
multiline = "Life is too short\nYou need Python"

print(multiline)

Life is too short
You need Python

### 2. 연속된 작은 따옴표 3개(''') or 큰 따옴표 3개(""") 이용

In [0]:
multiline = '''
Life is too short
You need Python
'''

print(multiline)

Life is too short
You need Python

In [0]:
multiline = """
Life is too short
You need Python
"""

print(multiline)

Life is too short
You need Python

# 이스케이프 코드란?

프로그래밍 할 때 사용할 수 있도록 미리 정의해 둔 문자 조합이다. 자주 쓰는 건 강조를 해놓았다.

---

**\n 개행**

**\t 수평 탭**

**\\\ 문자 "\\"**

**\' 단일 인용부호 '**

**\" 이중 인용부호 "**

\r 캐리지 리턴

\f 폼 피드

\a 벨 소리

\b 백 스페이스

\000 널 문자

---

# 문자열 연산하기

파이썬에서는 문자열을 더하거나 곱할 수 있다.

## 문자열 더해서 연결하기 (Concatenation)

In [0]:
head = "Python"
tail = " is not fun"

print(head + tail)

Python is not fun

## 문자열 곱하기

In [0]:
a = "Python "

print(a * 5)

Python Python Python Python Python

## 문자열 곱하기 응용

In [0]:
# multistring.py

print("="*30)
print("My Program")
print("="*30)

==============================
My Program
==============================

## 문자열 길이 구하기

len 함수를 이용하면 된다. print 함수처럼 파이썬 기본 내장 함수이다.

In [0]:
a = "Life is too short"

print(len(a))

17

# 문자열 인덱싱과 슬라이싱

인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다.

## 문자열 인덱싱이란?

In [0]:
a = "Life is too short, You need Python"

print(a[3])

e

a[3]이 뜻하는 것은 a라는 문자열의 네 번째 문자인 e를 말한다. 왜 a[3]이 네 번째 문자인지 의아할 수 있다.

**"파이썬은 0부터 숫자를 센다"**

고로, a[0] = L, a[1] = i, a[2] = f, a[3] = e, ...,

이렇게 된다.

## 문자열 인덱싱 활용하기

In [0]:
a = "Life is too short, You need Python"

print(a[0])

print(a[12])

print(a[-1])

L
s
n

a[-1]은 뭘까? 문자열을 뒤에서부터 읽기 위해서 마이너스(-) 기호를 붙이는 것이다.

즉, a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 뜻한다.

어라? a[-0]이 뒤에서 첫 번째여야지 않아? 의문을 가질 수 있다. 하지만 0과 -0은 똑같지 않나. 그렇기에 a[-1]로 표기하는 것이다.

In [0]:
a = "Life is too short, You need Python"

print(a[-0])

print(a[-2])

print(a[-5])

L
o
y

## 문자열 슬라이싱이란?

문자열에서 문자 하나만 뽑아내는 것이 아니라, 단어를 뽑아낼 방법은 없을까?

In [0]:
a = "Life is too short, You need Python"

b = a[0]+a[1]+a[2]+a[3]

print(b)

Life

위처럼 단순하게 접근할 수도 있지만, 파이썬에서는 더 좋은 방법을 제공한다. 슬라이싱 기법이다.

In [0]:
a = "Life is too short, You need Python"

print(a[0:4])

print(a[0:3])

Life
Lif

**a[시작번호:끝번호]**

**시작번호 <= a < 끝번호**

## 문자열을 슬라이싱하는 방법

예를 더 살펴보자

In [0]:
a = "Life is too short, You need Python"

print(a[0:5])

Life

공백문자 포함된 "Life "이다. "Life"와 "Life "는 완전히 다른 문자열이다.

In [0]:
a = "Life is too short, You need Python"

print(a[0:2])

print(a[5:7])

print(a[12:17])

Li
is
short

슬라이싱 할 때 시작 번호가 꼭 0일 필요는 없다.

In [0]:
a = "Life is too short, You need Python"

print(a[19:])

You need Python

a[시작 번호:끝 번호]에서 끝 번호를 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.

In [0]:
a = "Life is too short, You need Python"

print(a[:17])

Life is too short

a[시작 번호:끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.

In [0]:
a = "Life is too short, You need Python"

print(a[:])

a[시작 번호:끝 번호]에서 시작 번호, 끝 번호를 생략하면 문자열의 처음부터 끝까지 뽑아낸다.

In [0]:
a = "Life is too short, You need Python"

print(a[19:-7])

You need

인덱싱과 마찬가지로 마이너스 기호 사용이 가능하다.

위 예제에서 a[19:-7]이 뜻하는 것은 a[19]에서 a[-8]까지를 말한다. a[-7]은 포함하지 않는다!

## 슬라이싱으로 문자열 나누기

In [0]:
a = "19901230Lee"

birth = a[:8]
name = a[8:]

print(birth)
print(name)

19901230
Lee

a라는 문자열을 두 부분으로 나누는 기법이다. 연도, 월일, 이름 이렇게 세 부분으로 나누려면 어떻게 해야 할까?

In [0]:
a = "19901230Lee"

year = a[:4]
day = a[4:8]
name = a[8:]

print(year)
print(day)
print(name)

1990
1230
Lee

# "KimLeePark"이라는 문자열을 "LimLeePark"으로 바꾸려면?

제일 먼저 떠오르는 생각은 아래와 같을 것이다.

In [0]:
a = "KimLeePark"

print(a[0])

a[0] = 'L'

print(a[0])

K

TypeError: ignored

요컨대 a[0] 값이 K이니까 a[0]을 L로 바꾼다고 생각할 것이다. 그러나 당연히 에러가 발생한다.

**문자열의 요소값은 바꿀 수 있는 값이 아니기 때문이다!**

**문자열, 튜플 등의 자료형은 그 요소값을 변경할 수 없다. 그래서 immutable한 자료형이라고도 한다.**

하지만, 슬라이싱 기법을 이용하면 원하는 문자열로 바꿀 수 있긴 하다. 아래의 코드를 보자.

In [0]:
a = "KimLeePark"

print(a[:1])
print(a[1:])

print("L"+a[1:])

K
imLeePark
LimLeePark

# 문자열 포매팅

"현재 온도는 18도입니다"를 시간이 지나 "현재 온도는 20도입니다"로 바꾸고 싶을 때는?

이렇게 문자열 내의 특정 값으로 바꿔야 할 때, 문자열 포매팅 기법을 써야 한다.

쉽게 말해 문자열 내에 어떤 값을 삽입하는 방법이다.

## 1. 숫자 바로 대입

문자열 안에서 숫자를 넣고 싶은 자리에 %d라는 문자를 넣어주고, 삽입할 숫자는 % 문자 다음에 써넣었다.

여기서 %d를 문자열 포맷 코드라 한다.

In [0]:
a = "Lee eat %d apples" % 300

print(a)

Lee eat 300 apples

## 2. 문자열 바로 대입

숫자 말고 문자열 대입도 가능하다. %s이다.

**문자열 대입 시 앞에서 설명한 것처럼 반드시 큰 따옴표나 작은 따옴표를 사용해야 한다.**

In [0]:
b = "Lee eat %s melons" % 'one million'

print(b)

Lee eat one million melons

## 3. 숫자 값을 나타내는 변수로 대입

In [0]:
number = 100

c = "Lee eat %d apples." % number
d = "Lee eat %s apples." % number

print(c)
print(d)

Lee eat 100 apples.
Lee eat 100 apples.

**%s 문자열 포맷 코드로도 가능하다. 다만 이 경우엔 숫자가 아니라 문자로서 인식을 할 것으로 추정된다.**

## 4. 2개 이상의 값 넣기

문자열 안에 1개가 아닌 여러 개의 값을 넣고 싶을 땐 어찌하나? 괄호와 콤마를 이용한다.

In [0]:
number = 100
year = "nine"

a = "I ate %d apples. so I was sick for %s years." % (number, year)
print(a)

I ate 100 apples. so I was sick for nine years.

In [0]:
# year 변수는 정수형이 아니다!
number = 100
year = "nine"

a = "I ate %s apples. so I was sick for %d years." % (number, year)
print(a)

TypeError: ignored

In [0]:
# number 변수는 문자열로 인식이 가능하다! 1, 0, 0 하나하나가 문자로 인식된다.

number = 100
year = "nine"

a = "I ate %s apples. so I was sick for %a years." % (number, year)
print(a)

I ate 100 apples. so I was sick for 'nine' years.

## 문자열 포맷 코드

%s : 문자열

%c : 문자 1개

%d : 정수

%f : 부동소수

%o : 8진수

%x : 16진수

%% : Literal % (문자 % 그 자체)

In [0]:
a = "I have %s apples" % 3
print(a)

b = "rate is %s" % 3.2345
print(b)

I have 3 apples
rate is 3.2345

%s를 사용하면 값 자체를 문자열로 바꾸기 때문에 %d나 %f의 고민에서 벗어날 수 있다.

물론, %d와 %f는 각기 용도가 있기 때문에 존재한다!

## 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

In [0]:
a = "Error is %d%" % 98
print(a)

TypeError: ignored

문자열 포맷 코드 %d와 %가 같은 문자열 내에 존재하는 경우, %를 표현하고 싶다면 반드시 %%로 써야한다!

**%d 뿐만 아니라 어떤 문자열 포맷 코드를 이용하더라도 %를 표현할 때는 %%로 쓰자!**

In [0]:
a = "Error is %d%%" % 100
print(a)

Error is 100%

## 포맷 코드와 숫자 함께 사용하기

### 1. 정렬과 공백

In [0]:
a = "%10s" % "hi"
print(a)

b = "%-10shello" % "hi"
print(b)

        hi
hi        hello

"%10s"의 의미는 전체 길이가 10개인 문자열 공간에서 hi를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨두라는 의미다.

반대로, "%-10s"는 hi를 왼쪽으로 정렬하고 나머지는 공백으로 처리한 것이다. 그 뒤에 hello가 붙었고.

### 2. 소수점 표현하기

In [0]:
a = "%0.5f" % 10.123456789
print(a)

b = "%10.2f" % 1.2345678
print(b)

10.12346
      1.23

a는 10.123456789를 소수점 5번째 자리까지 나타내고 싶은 경우에 사용한다.

b는 1.2345678에서 소수점 2번째 자리와 전체 길이가 10인 문자열 공간에서 오른쪽으로 정렬하는 것을 보여준다.

## format 함수를 이용한 포매팅

### 1. 숫자 바로 대입

In [0]:
a = "I eat {0} apples".format(666)
print(a)

I eat 666 apples

### 2. 문자열 바로 대입

In [0]:
b = "I eat {0} apples".format("one million")
print(b)

I eat one million apples

### 3. 숫자 값을 가진 변수로 대입하기

In [0]:
number = 1234
c = "You eat {0} apples.".format(number)
print(c)

You eat 1234 apples.

### 4. 2개 이상의 값 넣기

In [0]:
number = 123
year = "eight"

a = "You ate {0} pillophones. so you was sick {1} years".format(number, year)
print(a)

You ate 123 pillophones. so you was sick eight years

2개 이상의 값을 넣을 경우, 문자열의 {0}, {1}과 같은 인덱스 항목들이 format 함수의 입력값들로 순서에 맞게 바뀐다.

{0}은 format함수의 number, {1}은 format함수의 year로 바뀐다.

In [0]:
# 사실 {} 안이 공란이어도 잘 작동되는거 같다.

number = 123
year = "eight"

a = "You ate {} pillophones. so you was sick {} years".format(number, year)
print(a)

You ate 123 pillophones. so you was sick eight years

### 5. 이름으로 넣기

In [0]:
a = "You ate {number} pillophones. so you was sick {year} years".format(number=666, year="eight")
print(a)

You ate 666 pillophones. so you was sick eight years

이 형태는 반드시 name = value와 같은 형태의 입력값이 있어야 한다.

### 6. 인덱스와 이름을 혼용해서 넣기

In [0]:
a = "You ate {0} pillophones. so you was sick {year} years".format(666, year="eight")
print(a)

You ate 666 pillophones. so you was sick eight years

인덱스 항목과 name = value 형태를 혼용하는 것도 가능하다.

### 7. 왼쪽 정렬

:<10 표현식을 이용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춘다.

In [0]:
a = "{0:<10}".format("Heelll")
print(a)

Heelll

### 8. 오른쪽 정렬

:>10은 반대로 오른쪽으로 정렬하고 총 자릿수를 10으로 맞춘다.

In [0]:
a = "{0:>20}".format("Heelll")
print(a)

              Heelll

### 9. 가운데 정렬

:^ 기호는 가운데 정렬을 뜻한다.

In [0]:
a = "{0:^15}".format("Heelll")
print(a)

    Heelll

### 10. 공백 채우기

정렬 시 공백 문자 대신 지정한 문자로 채워넣는 것도 가능하다.

채워넣을 문자값은 정렬 문자인 <, >, ^ 바로 앞에 넣어야 한다.

In [0]:
a = "{0:*^20}".format("Hell")
print(a)

b = "{0:!<15}".format("YOU DIE")
print(b)

********Hell********
YOU DIE!!!!!!!!

### 11.소수점 표현하기

In [0]:
x = 9.12345678

a = "{0:0.3f}".format(x)
print(a)

9.123

In [0]:
y = 5.123456789

a = "{0:20.5f}".format(y)
print(a)

             5.12346

In [0]:
# 문자열 자릿수, 위치, 문자추가, 소수점 표현 적용

z = 6.245678234

a = "{0:=^15.3f}".format(z)
print(a)

# 혹시 추가하려는 문자 2개는 인식될까?
# 안된다.
#b = "{0:==^15.3f}".format(z)
#print(b)

=====6.246=====

In [0]:
# 혹시 인덱스값없이도 될까?

b = "{^15.3f}".format(z)
print(b)

KeyError: ignored

### { 또는 } 문자 표현하기

중괄호 문자를 포매팅이 아닌, 순수하게 표현하고 싶을 때 {{, }}처럼 2개를 연속해서 사용해야 한다.

In [0]:
a = "{{ and }}".format()

print(a)

{ and }

In [0]:
# 그럼 문자열 변수를 따로 생성해서 중괄호를 두번 처리하면 어떻게 될까?
a = "{{HELL}}"
b = "{0:=^20}".format(a)
print(b)
print(type(b))
# 변수 a 뒤에 format 선언을 안했기에 그냥 순수 문자열이 된 듯 하다.

======{{HELL}}======
<class 'str'>

In [0]:
# 그렇다면 혹시 기존의 다양한 방식에 중괄호를 포함하고 싶다면 어떻게 해야하나?
c = "HELL"
d = "{{0:^20}}".format(c)
print(d)
print(type(d))
# 중괄호를 두번 쓰면 그 내용이 문자열 처리가 되는걸까? ""로 묶었기에 그냥 문자열 처리가 되는걸까?

{0:^20}
<class 'str'>

In [0]:
# 포매팅 중괄호 안에서 중괄호를 표현하는 것보다, 다른 문자열 변수에서 중괄호를 표현하는 것이 더 나아보인다.
e = "{HELL}"
f = "{0:*^10}".format(e)
print(f)
print(type(f))

**{HELL}**
<class 'str'>

## f 문자열 포매팅

**파이썬 3.6부터는 f 문자열 포매팅 사용 불가!**

문자열 앞에 접두사 f를 붙이면 f 문자열 포매팅 기능을 쓸 수 있다. 알아만 두자.

In [3]:
name = '이희성'
age = 30

f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 이희성입니다. 나이는 30입니다.'

f 문자열 포매팅은 위와 같이 name, age와 같은 변수 값을 생성한 후에 그 값을 참조할 수 있다.

또한, 표현식을 지원하기 때문에 다음과 같은 것도 가능하다.

In [4]:
age = 30

f'나는 내년이면 {age+100}살이 된다.'

'나는 내년이면 130살이 된다.'

딕셔너리 사용법이다.

In [7]:
dic = {'name':'홍길동', 'age':560}

f'너의 이름은 {dic["name"]}이다. 나이는 {dic["age"]}이다.'

'너의 이름은 홍길동이다. 나이는 560이다.'

정렬은 다음과 같다.

In [16]:
print(f'{"hi":<10}') # 왼쪽 정렬
print(f'{"hi":>10}') # 오른쪽 정렬
print(f'{"hi":^10}') # 가운데 정렬

hi
        hi
    hi

공백 채우기다.

In [18]:
print(f'{"hi":=^10}') # 가운데 정렬 후, '=' 문자로 공백 채우기
print(f'{"hell":!<20}') # 왼쪽 정렬 후, '!' 문자로 공백 채우기

====hi====
hell!!!!!!!!!!!!!!!!

소수점은 다음과 같이 표현할 수 있다.

In [19]:
y = 3.4212352345798

print(f'{y:0.4f}') # 소수점 4자리까지
print(f'{y:20.5f}') # 소수점 5자리까지 표현 및 총 자리수 20으로

3.4212
             3.42124

f 문자열에서 {나 } 문자를 표시하려면 두 개를 동시에 사용해야 한다.

In [20]:
print(f'{{ and }}')

{ and }

# 문자열 관련 함수들

문자열 자료형은 자체적으로 가지고 있는 함수들이 있다. 다른 말로 문자열 내장함수라고도 한다.

## 문자 개수 세기 (count)

지정 문자의 개수를 반환.

In [22]:
a = "HELL"

print(a.count('L'))

2

## 위치 알려주기1 (find)

지정 문자가 처음으로 나온 위치를 반환. 찾는 문자나 문자열이 존재하지 않을 시 -1 반환.

**파이썬은 숫자를 0부터 세는 것을 잊지 말자! 더불어 문자열의 공백도 문자에 속한다.**

In [24]:
a = "Lee is not very smart guy"

print(a.find('v'))
print(a.find('z'))

11
-1

## 위치 알려주기2 (index)

위의 find와 다른 점은, 문자열 안에 존재하지 않는 문자를 찾으려하면 오류가 발생하는 점이다.

In [28]:
b = "Life is too very short"

print(b.index('v'))
print(b.index(" "))

12
4

In [29]:
b = "Life is too very short"

print(b.index('z'))

ValueError: ignored

## 문자열 삽입 (join)

문자열 각각의 문자 사이에 지정 문자를 삽입.

join 함수는 문자열 이외에 리스트나 튜플을 입력으로 사용할 수 있다.

In [30]:
a = ":::".join("abcde")

print(a)

a:::b:::c:::d:::e

In [32]:
# 리스트에서 사용하는 예

b = "=*=".join(['a','b','c','d','e'])

print(b)

a=*=b=*=c=*=d=*=e

## 소문자를 대문자로 (upper)

해당 문자열이 이미 대문자인 경우 아무 변화가 없을 것이다.

In [34]:
a = "hell"
a.upper()

print(a)
print(a.upper())

hell
HELL

In [35]:
# 만약 몇몇 문자만 대문자인 경우는?

b = 'heLLo'

print(b.upper())

HELLO

## 대문자를 소문자로 (lower)

In [36]:
a = "HeLLo"

print(a.lower())

hello

## 왼쪽 공백 지우기 (lstrip)

문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다. l은 left를 의미.

In [38]:
a = " Hi "
print(a.lstrip())

b = "   HELL   "
print(b.lstrip())

Hi
HELL

## 오른쪽 공백 지우기 (rstrip)

r은 right를 의미.

In [39]:
a = " Hi "
b = "   HELL   "

print(a.rstrip())
print(b.rstrip())

 Hi
   HELL

## 양쪽 공백 지우기 (strip)

문자열 양쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [40]:
a = " Hi "
b = "   HELL   "

print(a.strip())
print(b.strip())

Hi
HELL

## 문자열 바꾸기 (replace)

replace(바뀌게 될 문자열, 바꿀 문자열)처럼 사용한다. 문자열 내 특정 값을 다른 값으로 치환.

In [43]:
a = "Life is too very short"

print(a.replace("life", "Your body length")) # 당연히 소문자와 대문자는 다른 문자이다!
print(a.replace("Life", "Your body length"))

Life is too very short
Your body length is too very short

## 문자열 나누기 (split)

split()처럼 괄호 안에 아무런 값도 넣어주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어준다.

split(':')처럼 괄호 안에 특정 값이 있을 경우, 괄호 안의 값을 구분자로 문자열을 나눈다.

**이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.**

In [48]:
shining = "All work and no play makes Jack a dull boy"

print(shining.split())
print(shining.split( ))
#print(shining.split("")) # 에러 발생!
print(shining.split(" "))

# 나머지는 다 동일한 취급을 하는 듯 하다.

['All', 'work', 'and', 'no', 'play', 'makes', 'Jack', 'a', 'dull', 'boy']
['All', 'work', 'and', 'no', 'play', 'makes', 'Jack', 'a', 'dull', 'boy']
['All', 'work', 'and', 'no', 'play', 'makes', 'Jack', 'a', 'dull', 'boy']

In [50]:
shining1 = "All:work:and:no:play:makes:Jack:a:dull:boy"
shining2 = "All:work=and:no play:makes=Jack:a dull:boy"

print(shining1.split(":"))

print(shining2.split())
print(shining2.split(":"))
print(shining2.split("="))

['All', 'work', 'and', 'no', 'play', 'makes', 'Jack', 'a', 'dull', 'boy']
['All:work=and:no', 'play:makes=Jack:a', 'dull:boy']
['All', 'work=and', 'no play', 'makes=Jack', 'a dull', 'boy']
['All:work', 'and:no play:makes', 'Jack:a dull:boy']

# 연습문제

## Q1. 문자열 나누기

이희성의 주민등록번호는 901230-2134567이다.

이것을 연월일 부분과 나머지 부분으로 나누어 출력하라.

## 문자열 인덱싱

주민등록번호 뒷자리의 첫번째 숫자는 성별을 나타낸다.

위의 주민등록번호에서 성별을 나타내는 숫자만 출력하라.

## Q3. 문자열 바꾸기1

a:b:c:d:e 문자열을 a=b=c=d=e로 바꾸라.

## Q4. 문자열 바꾸기2

a:b:c:d:e 문자열을 split과 join 함수를 이용하여 a=b=c=d=e로 바꾸라.

*Hint. 문자열을 ":"로 split하면 리스트 자료형이 리턴된다. 리스트 자료형 역시 문자열처럼 join이 가능하다.*