<a href="https://colab.research.google.com/github/DrKAI/Python-Basic-Restart/blob/master/02_3_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숫자와 문자열만으로 프로그래밍 하기엔 부족한 점이 많다.

1 ~ 10까지의 숫자 중 홀수들의 모음인 1, 3, 5, 7, 9라는 집합이 있다 생각해보라.

이런 숫자 모음을 숫자나 문자열로 표현하기엔 어려운 점이 많다.

이런 점을 해소하기 위해 리스트 자료형이 있는 것이다.

# 리스트는 어떻게 만들고 사용할까?

위의 1, 3, 5, 7, 9 숫자 모음은 리스트로는 어떻게 표현할까?

In [0]:
list_name = [1, 3, 5, 7 ,9]

print(list_name)

[1, 3, 5, 7, 9]

**리스트 이름 = [요소1, 요소2, 요소3, ..., 요소n]**

리스트는 위와 같이 표현한다. 여러가지 리스트의 생김새를 살펴보자.

In [0]:
a = []
b = [1,2,3]
c = ['Life','is','too','long']
d = [1,2,'Life','long']
e = [1,2,['Life','long']]

a처럼 아무것도 없는, 비어있는 리스트일 수도 있고,

b처럼 숫자를 요소로 가지는 리스트일 수도 있고,

c처럼 문자열을 요소로 가지는 리스트일 수도 있다.

더불어 d처럼 숫자와 문자열을 함께 가질 수도 있고, e처럼 리스트 자체를 요소로 가질 수도 있다.

**즉, 리스트 안에는 어떤 자료형이던 포함시킬 수 있다.**

---

*참고. 빈 리스트는 a = list()로 생성할 수도 있다.*

# 리스트의 인덱싱과 슬라이싱

## 리스트 인덱싱

In [3]:
a = [1,2,3,4,5]

print(a[0])
print(a[0]+a[4])

print(a[-1])

1
6
5

In [7]:
b = [1,2,3,['a','b','c']]

print(b)
print(b[-1])
print(b[3])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
['a', 'b', 'c']

리스트 b에 포함된 ['a','b','c'] 리스트에서 'a'값, 'b'값, 'c'값 꺼내기

In [8]:
b = [1,2,3,['a','b','c']]

print(b[-1][0])
print(b[3][0])
print(b[-1][-3])
print(b[3][-3])

a
a
a
a

In [1]:
b = [1,2,3,['a','b','c']]

print(b[-1][1])
print(b[3][1])
print(b[-1][-2])
print(b[3][-2])

b
b
b
b

In [10]:
b = [1,2,3,['a','b','c']]

print(b[-1][2])
print(b[3][2])
print(b[-1][-1])
print(b[3][-1])

c
c
c
c

## 삼중 리스트 인덱싱

**혼란스러우니까 자주 쓰지는 말고, 알아는 두자**

In [4]:
a = [1,2,['a','b',['Life','Hell']]]

print(a[2][2][1])
print(a[-1][-1][-1])

Hell
Hell

## 리스트 슬라이싱

In [6]:
s = [0,1,2,3,4]

print(s[0:2])

a = s[:2]
b = s[2:]

print(a)
print(b)

[0, 1]
[0, 1]
[2, 3, 4]

## 중첩 리스트 슬라이싱

In [10]:
l = [1,2,3,['a','b','c'],4,5]

print(l[2:5])

print(l[3][:2])

print(l[-3][1:])

[3, ['a', 'b', 'c'], 4]
['a', 'b']
['b', 'c']

# 리스트 연산

+, * 기호의 사용 가능

## 리스트 더하기(+)

In [12]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

c = ['L','e','e']
d = ['이희성은 바보다']
print(c+d)

print(a+c)
print(b+d)

[1, 2, 3, 4, 5, 6]
['L', 'e', 'e', '이희성은 바보다']
[1, 2, 3, 'L', 'e', 'e']
[4, 5, 6, '이희성은 바보다']

## 리스트 반복하기(*)

In [17]:
a = [1,2,3]
b = ['H','e','l','l']
c = ["All work and no play makes Jack a dull boy"]

print(a*3)
print(b*3)
print(c*3)

print(a*3+b*2+3*c) # 약간 뒤죽박죽이어도 파이썬은 잘 인식한다.

[1, 2, 3, 1, 2, 3, 1, 2, 3]
['H', 'e', 'l', 'l', 'H', 'e', 'l', 'l', 'H', 'e', 'l', 'l']
['All work and no play makes Jack a dull boy', 'All work and no play makes Jack a dull boy', 'All work and no play makes Jack a dull boy']
[1, 2, 3, 1, 2, 3, 1, 2, 3, 'H', 'e', 'l', 'l', 'H', 'e', 'l', 'l', 'All work and no play makes Jack a dull boy', 'All work and no play makes Jack a dull boy', 'All work and no play makes Jack a dull boy']

## 리스트 길이 구하기

len()  함수를 씁시다.

In [19]:
Jack = ["All work and no play","makes","Jack a dull boy"]

print(len(Jack))

3

## 초보자가 범하기 쉬운 리스트 연산 오류

**정수와 문자열은 서로 더할 수 없다!**

In [20]:
a = [1,2,3]

print(a[2]+"hello")

TypeError: ignored

만약, 숫자와 문자열을 더해서 '3hello'처럼 만들고 싶다면 숫자 3을 문자 3으로 바꿔야 한다.

In [21]:
a = [1,2,3]

print(str(a[2])+"Hell")

3Hell

# 리스트의 수정과 삭제

## 리스트에서 값 수정하기

In [23]:
a = [1,2,3]
print(a)

a[2] = 4
print(a)

[1, 2, 3]
[1, 2, 4]

## del 함수 사용해 리스트 요소 삭제하기

**del 객체** : 객체란 파이썬에서 사용되는 모든 자료형을 말한다.

In [24]:
a = [1,2,3]
print(a)

del a[1]
print(a)

[1, 2, 3]
[1, 3]

*리스트 요소들을 삭제하는 방법에는 2가지가 더 있다. remove와 pop 함수이다.*

# 리스트 관련 함수들

리스트 변수명 뒤에 '.'를 붙여서 여러가지 리스트 관련 함수들을 이용할 수 있다.

## 리스트에 요소 추가(append)

append(x)는 리스트의 맨 마지막에 x를 추가시키는 함수이다.

In [25]:
a = [1,2,3]
print(a)

a.append(100)
print(a)

[1, 2, 3]
[1, 2, 3, 100]

리스트 안에는 어떤 자료형도 추가할 수 있다.

아래의 예는 리스트에 다시 리스트를 추가한 결과이다.

In [26]:
a = [1,2,3]
print(a)

a.append([5,6,7,8])
print(a)

[1, 2, 3]
[1, 2, 3, [5, 6, 7, 8]]

## 리스트 정렬(sort)

sort 함수는 리스트의 요소를 순서대로 정렬해준다.

In [40]:
a = [1,10,2,5,6,8,4,3,7,9]
print(a)
print(type(a))

a.sort()
print(a)

b = a.sort()
c = a.sort(reverse=True)
print(type(b))
print(type(c))

print(a.sort())
print(a.sort(reverse=True))

print(b)
print(c)

# sort() 메소드는 반환하지 않는다!

[1, 10, 2, 5, 6, 8, 4, 3, 7, 9]
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'NoneType'>
<class 'NoneType'>
None
None
None
None

In [43]:
a = [1,10,2,5,6,8,4,3,7,9]
print(a)

b = a
print(b)

a.sort()
print(a)
print(b)

# a의 값을 복사한게 아니라 가져온 것이다!
# 그래서 a를 정렬하고서 b를 출력하면 리스트 b 역시 정렬된 상태이다.

[1, 10, 2, 5, 6, 8, 4, 3, 7, 9]
[1, 10, 2, 5, 6, 8, 4, 3, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
a = [1,10,2,6,3,5,8,9,7,4]
b = a.copy()

print(a)
print(b)

# 주소값 확인
print(id(a))
print(id(b))

a.sort()
print(a)
print(b)

# 역순 정렬
b.sort(reverse=True)
print(a)
print(b)

[1, 10, 2, 6, 3, 5, 8, 9, 7, 4]
[1, 10, 2, 6, 3, 5, 8, 9, 7, 4]
139749129196808
139749129198216
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 10, 2, 6, 3, 5, 8, 9, 7, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 리스트 뒤집기(reverse)

리스트를 역순으로 뒤집어준다. **정렬하는 것이 아니라 그저 현재의 리스트를 그대로 거꾸로 뒤집는다!**

In [47]:
a = [20,17,3,4,8,2,1]
b = ['H','E','L','L']

a.reverse()
b.reverse()

print(a)
print(b)

[1, 2, 8, 4, 3, 17, 20]
['L', 'L', 'E', 'H']

## 위치 반환(index)

index(y)는 리스트에 y 값이 있다면 y의 위치값을 리턴한다.

In [49]:
a = [1,2,3,10,100,1000]

print(a.index(10))
print(a.index(100))

# 얘는 반환도 해주네!

3
4

In [51]:
# 리스트에 값이 없을 때 발생하는 오류

a = [1,2,3,10,100,1000]

print(a.index(500))

ValueError: ignored

## 리스트에 요소 삽입(insert)

insert(a, b)는 리스트의 a번째 위치에 b를 삽입한다. **b 위치에 있던 원래 문자는 오른쪽으로 이동한다.**

In [54]:
a = [1,2,3,4,5]
print(a)

a.insert(2, "Jack a dull boy")
print(a)

[1, 2, 3, 4, 5]
[1, 2, 'Jack a dull boy', 3, 4, 5]

In [55]:
b = ['H','E','L','L']
print(b)

b.insert(-2, 100)
print(b)

['H', 'E', 'L', 'L']
['H', 'E', 100, 'L', 'L']

## 리스트 요소 제거(remove)

remove(x)는 리스트에서 **첫 번째**로 나오는 x를 삭제한다.

In [60]:
a = [1,2,3,4,5]
print(a)

a *= 3
print(a)

#print(a.remove(4)) # remove()는 반환하지 않음
a.remove(4)
print(a)

a.remove(4)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 5, 1, 2, 3, 5, 1, 2, 3, 4, 5]

## 리스트 요소 끄집어내기(pop)

pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제하는 함수다.

pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다.

In [67]:
a = [1,2,3,4,5,6]
print(a)

print(a.pop()) # pop()은 반환해준다.
print(a)

print(a.pop(0))
print(a)

[1, 2, 3, 4, 5, 6]
6
[1, 2, 3, 4, 5]
1
[2, 3, 4, 5]

In [66]:
b = [1,2,3,"Jack a dull boy"]
print(b)

print(b.pop(3))
print(b)

print(b.pop())
print(b)

[1, 2, 3, 'Jack a dull boy']
Jack a dull boy
[1, 2, 3]
3
[1, 2]

## 리스트에 포함된 요소 x의 개수 세기(count)

count(x)는 리스트 내에 x가 몇 개 있는지 조사하여 그 개수를 돌려준다.

In [68]:
a = [1,1,1,1,1,1,1,1,1,1]

print(a.count(1))

10

## 리스트 확장(extend)

extend(x)에서 x에는 리스트만 올 수 있으며 원래의 리스트에 x 리스트를 더하는 것이다.

In [70]:
a = [1,2,3]
print(a)

a.extend([10,100,1000])
print(a)

a += [10,100,1000]
print(a)

b = ['H','e','l','L']
a.extend(b)
print(a)

[1, 2, 3]
[1, 2, 3, 10, 100, 1000]
[1, 2, 3, 10, 100, 1000, 10, 100, 1000]
[1, 2, 3, 10, 100, 1000, 10, 100, 1000, 'H', 'e', 'l', 'L']

a.extend([10, 100, 1000])은 a += [10, 100, 1000]과 동일하다.

# 연습문제

## Q1. 리스트 조인

['Life', 'is', 'too', 'long']라는 리스트를 Life is too long라는 문자열로 만들어 출력하라.

*Hint. 문자열의 join 함수를 이용하라.*

## Q2. 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들라.

*Hint. sort와 reverse를 이용하라.*